.friends_container {
    margin-top: 20px;
}

.friends_title {
    font-size: 24px;
    margin-bottom: 10px;
}

.friends_list {
    display: flex;
    flex-direction: column;
}

.friends_user {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.friends_info {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}

.roll-no {
    color: #666;
}


